name: "Publish articles"

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish_articles:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - uses: increments/qiita-cli/actions/publish@v1.6.2
        with:
          qiita-token: ${{ secrets.QIITA_TOKEN }}
          root: "."
